<div id="<%= dom_id workout %>">
  <div>
    <strong>Exercise:</strong>
    <%= workout.exercise %>
  </div>

  <div>
    <strong>Weight:</strong>
    <%= workout.weight %>
  </div>

  <div>
    <strong>Reps:</strong>
    <%= workout.reps %>
  </div>

  <div>
    <strong>Workout date:</strong>
    <%= workout.workout_date %>
  </div>

</div>
